<%- model_class = Worker -%>
<%= link_to t('.new', :default => "New Worker"),
            new_worker_path,
            :class => 'btn btn-primary' %>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:mobile) %></th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.mobile %></td>
        <td><%= worker.assigned_text %> at <%= worker.location %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      worker_path(worker), :class => 'btn btn-default btn-sm' %>
					<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_worker_path(worker), :class => 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
